<!-- <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static "about/css/main.css" %}">
</head>
<body>
    <div>
        <video class="home__video" autoplay="" muted="" loop="" src="{% static "about/videos/vecteezy_particles-background-animation_21255314.mp4" %}"></video>
        <section class="home" id="home">
            <div class="section__content">
                <div class="home__left">
                    <h1 class="page__title" > <img style="width: 120px; border-radius: 50%;" src="{% static "about/images/najot1.png" %}" alt=""> <span style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Tajot Ta'lim,</span> <br> I'am <span style="color: rgb(30, 255, 0);">Mamatkarimov Hasanboy</span> <br> Fullstack Developer</h1>
                    <div class="btns"><a class="btn" href="#contact">Contact</a></div>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-telegram"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
                <div class="home__right">
                    <div class="my__img-box">
                        <img class="my__img" src="{% static "about/images/hasanboy.jpg" %}" alt="my image">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</body>
</html> -->